@page
@model IndexModel
@{
    ViewData["Title"] = "Development Demo page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET core and EA</a>.</p>
</div>
